<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.travelersdiary">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".application.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_api_key" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="d8d1756cffd2e4a36efbab0dcae68cdaf8c323d6" />

        <activity
            android:name=".activities.LoginActivity"
            android:theme="@style/AppTheme.FullScreen" />

        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.TravelActivity" />

        <activity
            android:name=".activities.DiaryActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity android:name=".activities.AddDiaryNoteActivity" />

        <activity
            android:name=".activities.GalleryAlbumActivity"
            android:label="@string/albums" />

        <activity android:name=".activities.AlbumImagesActivity" />

        <activity
            android:name=".activities.DiaryImagesActivity"
            android:label="@string/images" />

        <activity android:name=".activities.FullScreenImageActivity" />

        <activity
            android:name=".activities.RemindItemActivity"
            android:windowSoftInputMode="adjustResize" />

    </application>

</manifest>
